doctype
html(class="lt-ie10", lang="en")
html(class="no-js", lang="en")
  head
    meta(charset="utf=8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="css/style.css")
    title Spy Game
  body
    header
      h1 Who's the spy?
      hr
    .wrapper
      .main-content
      .button  
       button#begin Begin
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script(src="js/app.js")



